{{>layout/header}}

<h1>게시글 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title2">제목</label>
                <input type="text" class="form-contol" id="title2" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="author2">작성자</label>
                <input type="text" class="form-contol" id="author2" placeholder="작성자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="content2">작성자</label>
                <textarea class="form-control" id="content2" placeholder="내용을 입력하세요"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save2">등록</button>
    </div>
</div>

{{>layout/footer}}